.title-box {
    margin-bottom: 4rem;
  }
  
  .title-a {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .subtitle-a {
    color: #4e4e4e;
  }
  
  .line-mf {
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
  }


